@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

* {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  
}



body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(background.jpg);
  background-size: cover;
    background-position: center;
    display: flex;
  
}

h1 {

  font-size: 33px;
  font-weight: 600;
  padding: 200px 0;
  
}
.side-bar {

    background-color: #001729;
    width: 244px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  display: flex;
    align-items: center;
    justify-content: space-between;
  cursor: pointer;
  
}

.main {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 100vh;
  width: 100%;
}

.bottom-section {

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.info {

    color: rgba(255, 255, 255, 0.5);
    font-size: 11px;
    padding: 10 px;
  
}

input {

  border: none;
  background-color: rgba(255, 255, 255, .5);
  width: 100%;
  font-size: 20px;
  padding: 12px 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px,
  rgba(0, 0, 0, 0.05) 0 -12px 30px,
  rgba(0, 0, 0, 0.05) 0 4px 6px,
  rgba(0, 0, 0, 0.05) 0 12px 3px,
  rgba(0, 0, 0, 0.09) 0 -3px 5px,
}

input:focus {

outline: none;
  
}

.input-container {

  position: relative;
  width: 100%;
  max-width: 650px;
  
}

.input-container #submit {

  position: absolute;
  right: 0;
  bottom: 15px;
  cursor: pointer;
  
}

button {
  border: solid 0.5px rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.nav{

  border-top: solid 0.5px rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin: 10px;
}

.history {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  

  
}

.history p{

  cursor: pointer;
}